body {
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.center{
    text-align: center;
}
.darkslateblue{
    color: darkslateblue;
}
h2{
    color:slategray;
}
h3{
    color:slategray;
}
h4{
    font-weight: normal;
}
h5
{
    font-weight: normal;
}